<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Turnos Online</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- Iconos de menú -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  
  <!-- Barra superior con menú hamburguesa -->
  <header class="top-bar">
    <p class="registrarse"></p>
    <div class="menu-icon" id="menu-toggle">
      <i class="fas fa-bars"></i>
    </div>
  </header>

   <!-- Menú lateral -->
  <aside id="sideMenu" class="side-menu">
    <nav class="menu-nav">
      <a href="inicio.html" class="menu-link">Inicio</a>
      <a href="miperfil" class="menu-link">Mi Perfil</a>
      <a href="quienessomos.html" class="menu-link">¿Quiénes somos?</a>
      <a href="especialistas.html" class="menu-link">Especialistas</a>
    </nav>
  </aside>

  <!-- Overlay para cerrar menú al hacer click fuera -->
  <div class="overlay" id="overlay"></div>

  <!-- Contenido principal -->
  <div class="container">
    <!-- 🔹 Encabezado con logo -->
    <header class="header">
      <img src="../assets/LOGO DPI.jpg" alt="Logo Valle Medio" class="logologin">
    </header>

    <!-- Título -->
    <h2 class="title">TURNOS ONLINE</h2>

    <!-- Formulario -->
    <form class="login-form" th:action="@{/login}" method="post">
      <label for="dni">NUEVA CONTRASEÑA</label>
      <input type="text" id="dni" name="dni" required placeholder=>

      <label for="password">CONFIRMAR CONTRASEÑA</label>
      <input type="password" id="password" name="password" placeholder>
      <button type="submit" class="btn" onclick="window.location.href='login'">CONFIRMAR</button>
       
  <footer>
    2025 Turnos Online - Todos los derechos reservados
  </footer>