<!DOCTYPE html>
<html lang="es"xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de Turno</title>
  <link rel="stylesheet"  th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Contenedor principal -->
  <div class="container-horario">

    <!-- Logo -->
    <div class="logo">
      <img src="../assets/LOGO DPI.jpg" alt="Logo Valle Medio">
      <p>Diagnóstico Por Imagen</p>
      <h2>VALLE MEDIO</h2>
    </div>

    <!-- Mensaje de confirmación -->
    <h3 style="font-style: italic; margin-bottom: 30px;">
      CONFIRMACIÓN DE TURNO CON ÉXITO!
    </h3>

    <!-- Botón ver turno -->
    <button  type="button" class="btn" onclick="window.location.href='verturnos.html'">VER TURNO</button>

    <!-- Botón volver -->
    <button  type="button" class="btn" onclick="window.location.href='log in.html'">VOLVER</button>
  </div>

  <!-- Menú hamburguesa -->
  <div class="top-bar">
    <button class="menu-icon">&#9776;</button>
  </div>
  <footer>
      2025 Turnos Online - Todos los derechos reservados
    </footer>
</body>
</html>
