<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Elegir hora</title>
  <!-- Fuente Titillium Web -->
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet" />
  <!-- Íconos Material Symbols -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <!-- Menú hamburguesa (arriba a la derecha) -->
  </header>
  <header class="top-bar">
  <button class="menu-icon material-symbols-outlined">menu</button>
</header>


  <!-- Tarjeta central -->
  <div class="container-horario">
    <div class="logo">
      <img src="../assets/LOGO DPI.jpg" alt="Logo DPI" />
      <p>Diagnóstico Por Imagen</p>
      <h2>VALLE MEDIO</h2>
    </div>

    <h3><em>Elegir el horario</em></h3>

    <div class="select-wrapper">
      <select>
        <option selected disabled>hora disponible</option>
        <option>09:00</option>
        <option>10:00</option>
        <option>11:00</option>
        <option>12:00</option>
        <option>13:00</option>
        <option>14:00</option>
      </select>
    </div>

    <button type="button" class="btn" onclick="window.location.href='confirmacionturno.html'">confirmacion turno</button>
  </div>

  <footer>
    2025 Turnos Online - Todos los derechos reservados
  </footer>
</body>
</html>
