<!DOCTYPE html>
<html lang="es"xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla Turnos</title>
  <link rel="stylesheet" href="../css/style.css">
  <!-- Iconos de menú -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
</head>
<body>
  <header>
     <header class="top-bar">
    <p class="registrarse"></p>
    <div class="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <main class="container">
    <div class="logo">
      <img src="../assets/LOGO DPI.jpg" alt="Logo Valle Medio">
      <h2>Diagnóstico Por Imagen <br><span>VALLE MEDIO</span></h2>
    </div>

    <button ctype="button" class="btn" onclick="window.location.href='estudio.html'">PEDIR TURNO</button>
    <button type="button" class="btn" onclick="window.location.href='verturnos.html'">VER TURNO</button>
  </main>
  <footer>
  2025 Turnos Online - Todos los derechos reservados
</footer>
</body>
</html>
