<!DOCTYPE html>
<html lang="es"xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Turnos - Diagnóstico Valle Medio</title>
  <link rel="stylesheet"  th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Contenedor principal -->
  <div class="container-horario">

    <!-- Logo -->
    <div class="logo">
      <img src="../assets/LOGO DPI.jpg" alt="Logo Valle Medio">
      <p>Diagnóstico Por Imagen</p>
      <h2>VALLE MEDIO</h2>
    </div>

    <!-- Botones de turnos -->
    <button class="btn">Turno 1 - Detalles</button>
    <button class="btn">Turno 2 - Detalles</button>
    <button class="btn">Turno 3 - Detalles</button>
    <button class="btn">Turno 4 - Detalles</button>

    <!-- Botón volver -->
    <button type="button" class="btn" onclick="window.location.href='log in.html'">Volver</button>
  </div>

  <!-- Menú hamburguesa -->
  <div class="top-bar">
    <button class="menu-icon">&#9776;</button>
  </div>
  <footer>
  2025 Turnos Online - Todos los derechos reservados
</footer>
</body>
</html>
